In [1]:
import snowflake.snowpark as snowpark
from snowflake.snowpark import Session
from dotenv import load_dotenv
import os

load_dotenv()


connection_parameters = {
   "account": os.getenv('account_snow'),
   "user": os.getenv('user_snow'),
   "password":os.getenv('password_snow'),
   "role": "ACCOUNTADMIN",
   "database": "NEW_DB", 
   "schema": "PUBLIC"
  
}  

session = Session.builder.configs(connection_parameters).create()

In [2]:
employee_data = [
  [1,'TONY',24000],
  [2,'STEVE',17000],
  [3,'BRUCE',9000],
  [4,'WANDA',20000],
  [5,'VICTOR',12000],
  [6,'STEPHEN',10000]
]

employee_schema = ["EMP_ID", "EMP_NAME", "SALARY"]

df_employee =session.createDataFrame(employee_data, schema=employee_schema)
df_employee.show()

------------------------------------
|"EMP_ID"  |"EMP_NAME"  |"SALARY"  |
------------------------------------
|1         |TONY        |24000     |
|2         |STEVE       |17000     |
|3         |BRUCE       |9000      |
|4         |WANDA       |20000     |
|5         |VICTOR      |12000     |
|6         |STEPHEN     |10000     |
------------------------------------

In [3]:
#// Importing the Aggregate Function methods
from snowflake.snowpark.functions import col, min, max, avg#// Passing a Column object to DataFrame.agg method
df_employee.agg(max("SALARY"), min("SALARY")).show()

---------------------------------
|"MAX(SALARY)"  |"MIN(SALARY)"  |
---------------------------------
|24000          |9000           |
---------------------------------

In [4]:
df_employee.agg(max(col("SALARY")), min(col("SALARY"))).show()

---------------------------------
|"MAX(SALARY)"  |"MIN(SALARY)"  |
---------------------------------
|24000          |9000           |
---------------------------------

In [5]:
df_employee.agg(("SALARY", "max"), ("SALARY", "min")).show()

---------------------------------
|"MAX(SALARY)"  |"MIN(SALARY)"  |
---------------------------------
|24000          |9000           |
---------------------------------

In [6]:
df_employee.agg(min("SALARY").as_("min_sal"), max("SALARY").alias("max_sal")).show()

-------------------------
|"MIN_SAL"  |"MAX_SAL"  |
-------------------------
|9000       |24000      |
-------------------------

In [13]:
max_sal = df_employee.agg(max("SALARY").alias("MAX_SALARY")).collect()

In [8]:
max_sal = max_sal [0]['MAX_SALARY']

In [9]:
max_sal

24000

In [15]:
df_employee.filter(col("SALARY") == max_sal).show()

------------------------------------
|"EMP_ID"  |"EMP_NAME"  |"SALARY"  |
------------------------------------
|1         |TONY        |24000     |
------------------------------------