In [7]:
import snowflake.snowpark as snowpark
from snowflake.snowpark import Session
from dotenv import load_dotenv
import os

load_dotenv()


connection_parameters = {
   "account": os.getenv('account_snow'),
   "user": os.getenv('user_snow'),
   "password":os.getenv('password_snow'),
   "role": "ACCOUNTADMIN"
  
}  

session = Session.builder.configs(connection_parameters).create()

In [8]:
employee_data = [
    [1,'TONY',24000,10],
    [2,'STEVE',17000,10],
    [3,'BRUCE',9000,20],
    [4,'WANDA',20000,20]
]

employee_schema = ["EMP_ID", "EMP_NAME", "SALARY", "DEPT_ID"]

df_emp = session.createDataFrame(employee_data, schema=employee_schema)
df_emp.show()

------------------------------------------------
|"EMP_ID"  |"EMP_NAME"  |"SALARY"  |"DEPT_ID"  |
------------------------------------------------
|1         |TONY        |24000     |10         |
|2         |STEVE       |17000     |10         |
|3         |BRUCE       |9000      |20         |
|4         |WANDA       |20000     |20         |
------------------------------------------------

In [9]:
# create a temp table
df_emp.write.mode("overwrite").save_as_table("NEW_DB.PUBLIC.tmp_emp", table_type="temp")

In [11]:
df_tmp_emp = session.table("NEW_DB.PUBLIC.tmp_emp")
df_tmp_emp.show()

------------------------------------------------
|"EMP_ID"  |"EMP_NAME"  |"SALARY"  |"DEPT_ID"  |
------------------------------------------------
|1         |TONY        |24000     |10         |
|2         |STEVE       |17000     |10         |
|3         |BRUCE       |9000      |20         |
|4         |WANDA       |20000     |20         |
------------------------------------------------

In [12]:
df_tmp_emp.delete()

DeleteResult(rows_deleted=4)

In [13]:
# display updated DataFrame
df_tmp_emp.show()

------------------------------------------------
|"EMP_ID"  |"EMP_NAME"  |"SALARY"  |"DEPT_ID"  |
------------------------------------------------
|          |            |          |           |
------------------------------------------------

In [14]:
df_tmp_emp.delete(df_tmp_emp["DEPT_ID"] == '10')

DeleteResult(rows_deleted=0)

In [16]:
employee_data = [
    [1,'TONY',24000,10],
    [2,'STEVE',17000,10],
    [3,'BRUCE',9000,20],
    [4,'WANDA',20000,20]
]
employee_schema = ["EMP_ID", "EMP_NAME", "SALARY", "DEPT_ID"]
df_emp =session.createDataFrame(employee_data, schema=employee_schema)

# create temporary table
df_emp.write.mode("overwrite").save_as_table("NEW_DB.PUBLIC.tmp_emp", table_type="temp")

In [17]:
df_emp.show()

------------------------------------------------
|"EMP_ID"  |"EMP_NAME"  |"SALARY"  |"DEPT_ID"  |
------------------------------------------------
|1         |TONY        |24000     |10         |
|2         |STEVE       |17000     |10         |
|3         |BRUCE       |9000      |20         |
|4         |WANDA       |20000     |20         |
------------------------------------------------

In [21]:
session.sql("DELETE FROM NEW_DB.PUBLIC.tmp_emp WHERE EMP_ID = 3").collect()
# Output: [Row(number of rows deleted=1)]

# create DataFrame to read contents of updated temp table
df_tmp_emp = session.table("NEW_DB.PUBLIC.tmp_emp")

In [23]:
df_tmp_emp.show()

------------------------------------------------
|"EMP_ID"  |"EMP_NAME"  |"SALARY"  |"DEPT_ID"  |
------------------------------------------------
|1         |TONY        |24000     |10         |
|2         |STEVE       |17000     |10         |
|4         |WANDA       |20000     |20         |
------------------------------------------------