In [2]:
import snowflake.snowpark as snowpark
from snowflake.snowpark import Session
from dotenv import load_dotenv
import os

load_dotenv()


connection_parameters = {
   "account": os.getenv('account_snow'),
   "user": os.getenv('user_snow'),
   "password":os.getenv('password_snow'),
   "role": "ACCOUNTADMIN",
   "database": "NEW_DB", 
   "schema": "PUBLIC"
  
}  

session = Session.builder.configs(connection_parameters).create()

In [3]:
employee_data = [
    [1,'TONY',24000,10],
    [2,'STEVE',17000,10],
    [3,'BRUCE',9000,20],
    [4,'WANDA',20000,20]
]

employee_schema = ["EMP_ID", "EMP_NAME", "SALARY", "DEPT_ID"]

df_emp = session.createDataFrame(employee_data, schema=employee_schema)
df_emp.show()

------------------------------------------------
|"EMP_ID"  |"EMP_NAME"  |"SALARY"  |"DEPT_ID"  |
------------------------------------------------
|1         |TONY        |24000     |10         |
|2         |STEVE       |17000     |10         |
|3         |BRUCE       |9000      |20         |
|4         |WANDA       |20000     |20         |
------------------------------------------------

In [7]:
nomes = df_emp.select("EMP_NAME").distinct().to_pandas()["EMP_NAME"]

for nome in nomes:
    print(nome)

TONY
STEVE
BRUCE
WANDA

In [8]:
nomes_unicos = df_emp.select("EMP_NAME").distinct().collect()

# Itera sobre os valores Ãºnicos
for nomes in nomes_unicos:
    nome = nomes["EMP_NAME"]
    print(nome)

TONY
STEVE
BRUCE
WANDA